.image-container-1{
    height: 500px;
    width: 100%;
    background-image: url(/images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image-text-1{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.border-box{
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 45px 45px rgba(161, 161, 161, 0.137);
    margin: 10px 0 10px 0;
}
.table-box{
    margin: 10px 30px 10px 30px;
    padding: 15px;
    box-shadow: 0 45px 45px rgba(184, 183, 183, 0.274);
}
.seat-details{
    text-decoration: none;
    color: rgb(17, 17, 78);
    text-align: left;
}
.table-data{
    padding: 20px;
}
.table-button{
    float: right;
    margin-right: 10px;
}
.book{
    height: auto;
    width: auto;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 8px;
    font-size: 15px;
}
.table-selection{
    width: 100%;
    height: auto;
    padding: 8px;
    color: rgb(255, 115, 0);
    border: solid 0.5px orange;
}
td{
    padding: 10px 15px 10px 15px;
}
.reset{
    height: auto;
    width: auto;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    background-color: white;
    border-radius: 5px;
    margin-right: 8px;
    font-size: 15px;
}
.reset:hover{
    cursor: pointer;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger hr {
    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-success .alert-link {
    color: #0b2e13;
}